<div>
  <div class="mb-2">
    <label class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="quiz()!.title"
      placeholder="Enter Quiz Title"
    />
  </div>
  <div class="mb-2">
    <label class="form-label">Explanation</label>
    <textarea
      class="form-control"
      rows="3"
      [(ngModel)]="quiz()!.explanation"
      placeholder="Enter Explanation"
    ></textarea>
  </div>
  <div class="mb-2">
    <label class="form-label">Category</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="quiz()!.category"
      placeholder="Enter Category"
    />
  </div>
</div>

<h4>Questions</h4>
<div
  *ngFor="let question of quiz()!.questions; let idxQuestion = index; trackBy: trackByQuestionId"
  class="border p-3 mb-3"
>
  <label class="fw-bold">Question {{ idxQuestion + 1 }}</label>
  <div class="mb-2">
    <label class="form-label">Type</label>
    <select class="form-control" [(ngModel)]="question.type">
      <option value="qcm">QCM</option>
      <option value="fill-in-the-blank">Complétion</option>
    </select>
  </div>

  <!-- QCM -->
  <div *ngIf="question.type === 'qcm'">
    <textarea
      class="form-control mb-2"
      [(ngModel)]="question.text"
      placeholder="Énoncé QCM"
      rows="2"
    ></textarea>
    <div *ngFor="let answer of question.answers; let idxAnswer = index" class="d-flex align-items-center mb-2">
      <input
        class="form-control me-2"
        [(ngModel)]="answer.option"
        placeholder="Option"
      />
      <input
        type="checkbox"
        class="form-check-input me-2"
        [(ngModel)]="answer.isCorrect"
        id="correctAnswer{{ idxQuestion }}-{{ idxAnswer }}"
      />
      <label
        class="form-check-label me-2"
        for="correctAnswer{{ idxQuestion }}-{{ idxAnswer }}"
      >
        Correct
      </label>
      <button
        class="btn btn-danger btn-sm"
        (click)="deleteAnswer(idxQuestion, idxAnswer)"
        type="button"
      >
        Supprimer
      </button>
    </div>
    <button
      class="btn btn-outline-primary btn-sm mt-2"
      (click)="addAnswer(idxQuestion)"
      type="button"
    >
      Ajouter option
    </button>
  </div>

  <!-- Complétion -->
  <div *ngIf="question.type === 'fill-in-the-blank'">
    <input
      class="form-control mb-2"
      [(ngModel)]="question.text"
      placeholder="Ex: J'habite à {blank}"
    />
    <input
      class="form-control"
      [(ngModel)]="question.expectedAnswer"
      placeholder="Réponse attendue"
    />
  </div>

  <button
    class="btn btn-outline-danger btn-sm mt-2"
    (click)="deleteQuestion(idxQuestion)"
    type="button"
  >
    Supprimer question
  </button>
</div>

<div class="mt-3">
  <button class="btn btn-sm btn-success" (click)="addQuestion()">
    Add Question
  </button>
</div>
